.load {
    padding-top: 10px;
    margin: auto;
}

ul {
    list-style: none;
    padding-left: 0px;
}

.searchBar {
    margin: auto;
}

.DataViewContainer {
    height: 80vh;
    overflow: auto;
    width: 100%;
    justify-content: center;
}